/*core stylesheets*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
  color: #999;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.text-mark-orange{
  color: #fcac45;
}
.header{
  width: 100%;
  height: 112px;
  background-color: #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
pre{
  font-family: 'Open Sans', sans-serif;
}
.header-container{
  margin-top: 35px;
  padding: 0 130px 0 178px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
/*header styles*/
.header_logo p{
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
}
.header_logo span{
  font-weight: 750;
  margin-left: 2px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
}
.header_logo{
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header_logo:hover span{
  margin-left: 5px;
  color: #fcac45;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header_logo:hover p{
  color: #dbdbdb;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navigation__links ul,li{
  display: inline-block;
}

/*********** бургер меню! ************/
.navigation__links ul.menu{
  display: none;
}
.navigation__links ul.menu.active{
  display: block;
}
ul.menu.active {
  background: #1f1e1e;
  z-index: 555;
  padding: 70px 8px 65px 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 250px;
  max-width: 325px;
  width: 100%;
  margin-bottom: 0;
}
.menu.active li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 15px 15px;
  margin: 0;
}
/************************************************/

.navigation__links li,a{
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.navigation__links li a:before{
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 0;
  height: 100%;
  border-bottom: 3px solid #fcac45;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navigation__links li a:hover:before{
  width: 100%;
}
.navigation__links li{
  margin-left: 35px;
}

.welcome-slide{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 600px;
  width: 100%;
  background: #000;
}
.headline-big h1{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 32px;
  color: #999;
}
.headline-big span{
  font-weight: bold;
}
.subtitle{
  margin-top: 17px;
}
.subtitle p{
  font-size: 20px;
  font-weight: 545;
  color: #cbcbcb;
}






@media screen and (max-width: 1200px){ /*page resizing querys*/
  nav{
    margin-left: 20%;
  }
}
@media screen and (max-width: 1105px){ /*page resizing querys*/
  nav{
    margin-left: 10%;
  }
}

@media screen and (max-width: 1010px){ /*page resizing querys*/
  .topnav a{
    display: none;
  }
  .topnav a.icon{
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  nav{
    width: 100px;
  }
  .topnav.responsive{
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive{
    height: 340px;
  }
  .topnav.responsive a.icon{
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive{
    float: none;
    display: block;
    text-align: left;
  }
}
