/*core stylesheets*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
  color: #999;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.text-mark-orange{
  color: #fcac45;
}
.text-mark-black{
  color: #222222;
}
.text-mark-grey{
  color: #5a5a5a;
}
.text-mark-pink{
  color: #dc5fe6;
}
.content-container{
  max-width: 1173px;
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 112px;
  background-color: #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 5px 28px 28px -40px rgb(252, 172, 69);
  box-shadow: 5px 28px 28px -40px rgb(252, 172, 69);
}
.header:hover{
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 5px 28px 28px -36px rgb(252, 172, 69);
  box-shadow: 5px 28px 28px -36px rgb(252, 172, 69);
}
.header-container{
  margin-top: 35px;
  padding: 0 130px 0 178px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
/*header styles*/
.header_logo p{
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
}
.header_logo span{
  font-weight: 750;
  margin-left: 2px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
}
.header_logo{
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header_logo:hover span{
  margin-left: 5px;
  color: #fcac45;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header_logo:hover p{
  color: #dbdbdb;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navigation__links ul,li{
  display: inline-block;
}

/*********** бургер меню! ************/
.navigation__links ul.menu{
  display: none;
}
.navigation__links ul.menu.active{
  display: block;
}
ul.menu.active {
  background: #1f1e1e;
  z-index: 555;
  padding: 70px 8px 65px 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 250px;
  max-width: 325px;
  width: 100%;
  margin-bottom: 0;
  animation: slide-burger-slide 1s;
}
.menu.active li {
  display: table;
  padding: 15px 15px;
  margin: 0;
}

@keyframes slide-burger-slide{
  0%{
    left: -200px;
    max-width: 0px;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  35%{
    left: 0;
    max-width: 185px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45%{
    left: 0;
    max-width: 265px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45%{
    left: 0;
    max-width: 295px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100%{
    max-width: 325px;
    left: 0px;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes slide-burger-slide-out{
  0%{
    left: 0;
    max-width: 325px;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  35%{
    left: 0;
    max-width: 295px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45%{
    left: 0;
    max-width: 265px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45%{
    left: 0;
    max-width: 185px;
    -webkit-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100%{
    max-width: 0;
    left: -200px;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/************************************************/

.navigation__links li,a{
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.navigation__links li a:before{
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 0;
  height: 100%;
  border-bottom: 3px solid #fcac45;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navigation__links li a:hover:before{
  width: 100%;
}
.navigation__links li{
  margin-left: 35px;
}

.welcome-slide{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 600px;
  width: 100%;
  background: #000;
}
.headline-big h1{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 32px;
  color: #999;
}
.headline-big span{
  font-weight: bold;
}
.subtitle{
  margin-top: 17px;
}
.subtitle p{
  font-size: 20px;
  font-weight: 545;
  color: #cbcbcb;
}

/******** about-corp section onn *****/
.about-corp{
  padding: 105px 0 100px;
  background-color: #fff;
}
.about-corp .content-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.about-corp .content-block .box-left{
  width: 45%;
  height: auto;
  background: transparent;
}
.about-corp .content-block .box-right{
  width: 45%;
  height: auto;
  background: transparent;
}
.content-block .box-right .headline-big{
  margin-bottom: 58px;
}
.content-block .box-right .headline-big h1{
  position: relative;
  display: inline-block;
  color: #222;
}
.content-block .box-right .headline-big h1:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  border-bottom: 3px solid #fcac45;
}
.content-block .box-right .text-area{
  text-align: justify;
  font-size: 16px;
  color: #6c6c6c;
}
.content-block .box-right .list-about{
  margin-top: 45px;
}
.content-block .box-right .list-about li{
  margin: 15px 0 15px;
  position: relative;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -ms-align-items: center;
  align-items: center;
  padding: 0 0 0 25px;
  font-style: italic;
  color: #5a5a5a;
}
.content-block .box-right .list-about li:last-child{
  color: #dc5fe6;
}
.content-block .box-right .list-about li:before{
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 15px;
  background: url(../img/cyrcle.png);
}
.content-block .box-right .list-about li .text-mark-grey{
  font-weight: bold;
  margin-right: 5px;
  font-style: normal;
}
.content-block .box-right .list-about li .text-mark-pink{
  font-weight: bold;
  margin-right: 5px;
  font-style: normal;
}
.about-corp .content-block .box-left img.compuktor{
  width: 100%;
}
/********************** about-corp section ~off ****************************/


/************** our-team section onn **************/
.our-team{
  padding: 95px 0 165px;
  background-color: #070707;
}
.our-team .team-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.our-team .headline h1.team{
  position: relative;
  display: inline-block;
  margin-bottom: 105px;
  text-transform: uppercase;
  color: #fff;
}
.our-team .headline h1.team:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  border-bottom: 3px solid #fcac45;
}
.our-team .team-block .team-cards{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.our-team .team-block .personal-card{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  height: auto;
  padding: 4px;
  background: transparent;
}

.our-team .team-block .personal-card .cyrcle-images{
  width: 130px;
  height: 130px;
  display: inline-block;
  border-radius: 50%;
  background: #d7d7d7;
}
.our-team .team-block .personal-card .lid-name{
  margin-top: 22px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #fff;
}
.our-team .team-block .personal-card .lid-name span.prof{
  display: block;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}
.our-team .team-block .personal-card p.demo-info{
  margin-top: 35px;
  text-align: center;
  color: #fff;
}
/************************** .our-team ~off ********************************/

/********** .our-services onn *************/
.our-services{
  padding: 100px 0 100px;
  background-color: #fff;
}
