/*core stylesheets*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
  color: #999;
}
body{
  font-family: 'Open Sans', sans-serif;
}
header{
  width: 100%;
  background-color: #000;
  display: flex;
}
pre{
  font-family: 'Open Sans', sans-serif;
}
/*header styles*/
.header_logo{
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 20%
}
nav{
  margin-top: 60px;
  margin-left: 25%;
}
.topnav a{
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}
.topnav a:hover{
  border-bottom: 3px solid #fcac45;
}
.topnav .icon{
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .main_welcome{
  background: #000;
  text-align: center;
  padding: 200px 0 410px 0;
}
main .main_welcome p{
color: #999;
font-style: 20px;
}
main .main_welcome h1{
  color: #999;
  font-style: 44px;
}
.mycompany{
  color: #fcac45;
}
.wrapper{
  background: #fff;
  width: 100%;
  margin: 0 auto;
}
main .main_about{
  display: flex;
  padding: 100px 0 100px 0;
}
.about_right{
  margin-left: 175px;
  width: 415px;
  text-align: left;
}
.about_right h2{
  display: inline-block;
  border-bottom: 3px solid #fcac45;
  padding-bottom: 20px;
}
.about_right p{
  margin-top: 30px;
-moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}
.about_right ul{
  margin-top: 50px;
}
.about_right li{
  margin-bottom: 20px;
}
.about_left{
  margin-left: 180px;
}
.aboutus{
  display: inline;
  color: #000;
  font-weight: 900;
}






@media screen and (max-width: 1200px){ /*page resizing querys*/
  nav{
    margin-left: 20%;
  }
}
@media screen and (max-width: 1105px){ /*page resizing querys*/
  nav{
    margin-left: 10  %;
  }
}

@media screen and (max-width: 1010px){ /*page resizing querys*/
  .topnav a{
    display: none;
  }
  .topnav a.icon{
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  nav{
    width: 100px;
  }
  .topnav.responsive{
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive{
    height: 340px;
  }
  .topnav.responsive a.icon{
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive{
    float: none;
    display: block;
    text-align: left;
  }
}
